/*  Variables */
:root {
    --background-color: #f5f5f5;
    --text-color: #120909;
    --secondary-background-color: #f3efef;
    --primary-color: #b36064;
    --secondary-color: #d4c0a5;
    --accent-color: #f64343;
}

* {
    box-sizing: border-box;
}

/* Global Layout */

body {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;

    min-width: 100dvw;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    max-height: 100dvh;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

body > div {
    flex: 4;

    display: flex;
    flex-direction: column;

    max-height: 100%;
}

header {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 40px;
    max-height: 80px;
    padding: 5px 15px;
    box-sizing: border-box;

    background-color: var(--secondary-background-color);

    /* TODO: Change this */
    color: var(--text-color);
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

header h1:nth-child(2) {
    font-size: 25px;
    font-weight: normal;
}

main {
    flex: 15;

    display: flex;

    padding: 15px;

    box-sizing: border-box;

    max-height: 100%;

    /* background-color: lightpink; */
}

.spacer {
    flex: 1;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                      NAVIGATION BAR                                           */
/*-----------------------------------------------------------------------------------------------*/

nav {
    flex: 1;
    min-width: 300px;
    background-color: var(--secondary-background-color);
    padding: 0;
    margin: 0;
}

nav > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100dvh;

    transition: 0.3s ease-in-out;
}

nav > form hr {
    border: none;
    border-top: 2px solid var(--accent-color);
    border-radius: 5px;
    width: 75%;
    opacity: 60%;
}

nav button {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: none;
    background-color: transparent;

    width: 85%;
    height: 65px;

    margin: 15px 0;

    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    color: var(--text-color);
    opacity: 80%;

    transition: all 0.2s ease;
}

nav button:hover {
    background-color: #e7e7e7;
    border-radius: 30px;
    border-width: 25px;
    opacity: 1;
}

nav button > svg {
    margin: 13px;
    width: 24px;
    height: 24px;
}

nav button > p {
    margin-right: 15px;
}

/*-----------------------------------------------------------------------------------------------*/

svg {
    height: 18px;
    width: 20px;
    /* margin-left: 3px; */
    color: var(--accent-color);
}

/*-----------------------------------------------------------------------------------------------*/
/*                                      SEARCH CLIENT                                            */
/*-----------------------------------------------------------------------------------------------*/

#search-client {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#search-client > hr {
    border: none;
    border-top: 2px solid var(--accent-color);
    border-radius: 5px;
    width: 75%;
    opacity: 60%;

    margin: 20px 0;
}

/* SEARCH FIELDS ---- */

#search-client .search-clients-search-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 40%;
}

#search-client .search-clients-search-fields form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    /* border: blue solid 1px; */
}

#search-client .search-clients-search-fields .fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 90%;

    box-sizing: border-box;
}

#search-client .search-clients-search-fields input {
    box-sizing: border-box;
    width: 100%;
    margin: 7px 0;

    background: transparent;
    background-color: var(--secondary-background-color);
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

#search-client .search-clients-search-fields button {
    margin-bottom: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
}

#search-client .search-clients-search-fields hr {
    margin: 0 35px;

    border: none;
    border-left: 2px solid var(--accent-color);
    border-radius: 5px;
    height: 75%;
    opacity: 60%;
}

/* SEARCH RESULTS ---- */

#search-client .search-clients-results {
    flex: 1;
    overflow-y: auto;
    width: 100%;

    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#search-client table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--secondary-background-color);
}

#search-client th,
#search-client td {
    border: 1px solid #ddd;
    padding: 8px;
}

#search-client th {
    background-color: var(--primary-color);
    color: white;
}

#search-client td > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#search-client th:last-child {
    width: 18px;
}

#search-client td:last-child {
    padding: 0;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                      OVERVIEW-CLIENT                                          */
/*-----------------------------------------------------------------------------------------------*/

#overview {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#overview > div {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#overview > div > p {
    height: 5%;
}

#overview > div > p > label {
    display: flex;
    float: left;
    background-color: var(--primary-color);
    color: #120909;
    padding: 5px 1% 5px 2%;
    box-sizing: border-box;
    width: 45%;
    margin-left: 5px;
}

#overview > div > p > input {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    border-style: none;
    background-color: #e8d2d2;
    padding: 6px 1% 8px 2%;
    box-sizing: border-box;
    width: 45%;
}

#overview > div > button {
    background-color: #e8d2d2;
    width: 45%;
    padding: 5px 1% 5px 2%;
    margin-top: 5px;
    margin-left: 47%;
    display: flex;
    flex-direction: row;
}

#search-client {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#search-client > hr {
    border: none;
    border-top: 2px solid var(--accent-color);
    border-radius: 5px;
    width: 75%;
    opacity: 60%;

    margin: 20px 0;
}

/* SEARCH FIELDS ---- */

#search-client .search-clients-search-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 40%;
}

#search-client .search-clients-search-fields form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    /* border: blue solid 1px; */
}

#search-client .search-clients-search-fields .fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 90%;

    box-sizing: border-box;
}

#search-client .search-clients-search-fields input {
    box-sizing: border-box;
    width: 100%;
    margin: 7px 0;

    background: transparent;
    background-color: var(--secondary-background-color);
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

#search-client .search-clients-search-fields button {
    margin-bottom: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
}

#search-client .search-clients-search-fields hr {
    margin: 0 35px;

    border: none;
    border-left: 2px solid var(--accent-color);
    border-radius: 5px;
    height: 75%;
    opacity: 60%;
}

/* SEARCH RESULTS ---- */

#search-client .search-clients-results {
    flex: 1;
    overflow-y: auto;
    width: 100%;

    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#search-client table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--secondary-background-color);
}

#search-client th,
#search-client td {
    border: 1px solid #ddd;
    padding: 8px;
}

#search-client th {
    background-color: var(--primary-color);
    color: white;
}

#search-client td > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#search-client th:last-child {
    width: 18px;
}

#search-client td:last-child {
    padding: 0;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                          CALENDAR                                             */
/*-----------------------------------------------------------------------------------------------*/

.calendar {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--secondary-background-color);
    table-layout: fixed;
}

.calendar th,
.calendar td {
    border: 1px solid #ddd;
    padding: 8px;
}

.calendar thead {
    max-height: 40px;
}

.calendar th {
    background-color: var(--primary-color);
    color: white;
}

.calendar-event {
    background-color: var(--primary-color);
    color: white;
    padding: 0px !important;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                  ADVISOR PLANNING                                             */
/*-----------------------------------------------------------------------------------------------*/

#advisor-planning {
    overflow-y: auto;
}

#advisor-planning > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 10px;
}

#advisor-planning p {
    margin: 0 10px;
}

#advisor-planning select {
    flex: 1;
    height: 20px;
    background-color: var(--secondary-background-color);
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

#advisor-planning select:disabled {
    opacity: 1;
    color: var(--text-color);
}

#advisor-planning input[type="date"] {
    height: 20px;
    background-color: var(--secondary-background-color);
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

#advisor-planning .planning-nav {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

#advisor-planning .planning-nav:hover {
    background-color: var(--secondary-background-color);
}

#advisor-planning .calendar-event button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.reserved-time-slot svg {
    width: 26px;
    height: 26px;
}

.reserved-time-slot * {
    color: #2d2d34;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                      MANAGE ACCOUNTS                                          */
/*-----------------------------------------------------------------------------------------------*/

#allAccounts {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#allAccounts .showAccounts {
    background-color: var(--background-color);
    width: 100%;
}

#allAccounts th {
    width: 1500px;
    background-color: var(--primary-color);
    color: white;
}

#allAccounts table {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#allAccounts form {
    width: 100%;
}

#allAccounts .account {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#allAccounts .account input {
    border: none;
    background-color: var(--secondary-background-color);
    width: 95%;
    font-size: medium;
}

#allAccounts .account input:focus {
    outline: none;
}

#allAccounts .account .buttons {
    display: flex;
    text-align: right;
    position: relative;
    bottom: 3px;
}

#allAccounts .account .buttons button {
    border: none;
}

#allAccounts .edit-accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

#allAccounts .edit-accounts button {
    width: 140px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-color: var(--primary-color);
}

#allAccounts .edit-accounts input {
    height: 40px;
    font-size: large;
}

#allAccounts .space {
    width: 10px;
}

#add-account-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#add-account-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 468px;
    height: 400px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#add-account-modal form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#add-account-modal form .form-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-account-modal form .form-content > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#add-account-modal form .inputs {
    margin-top: 4px;
}

#add-account-modal form .inputs > * {
    margin: 14px 30px;
}

#add-account-modal form .form-content input {
    color: var(--text-color);
}

#add-account-modal .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-account-modal .arrow-container button {
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 15px;
    /* height: 10px; */
}

#add-account-modal .arrow-container svg {
    color: var(--text-color);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#add-account-modal .label-containers p {
    margin: 15px;
    margin-left: 0;
    font-size: large;
}

#add-account-modal .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-account-modal form > button {
    margin-bottom: 37px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}
/*-----------------------------------------------------------------------------------------------*/
/*                                      MANAGE CONTRACTS                                         */
/*-----------------------------------------------------------------------------------------------*/

#allContracts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allContracts .showContracts {
    background-color: var(--background-color);
    width: 100%;
}

#allContracts th {
    width: 1100px;
    background-color: var(--primary-color);
    color: white;
}

#allContracts .contract input {
    border: none;
    background-color: var(--secondary-background-color);
    width: 95%;
    font-size: medium;
}

#allContracts table {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#allContracts form {
    width: 100%;
}

#allContracts .contract {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#allContracts .contract input:focus {
    outline: none;
}

#allContracts .contract .buttons {
    display: flex;
    text-align: right;
    position: relative;
    bottom: 3px;
}

#allContracts .contract .buttons button {
    border: none;
}

#allContracts .edit-contracts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

#allContracts .edit-contracts button {
    width: 140px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-color: var(--primary-color);
}

#allContracts .edit-contracts input {
    height: 40px;
    font-size: large;
}

#allContracts .space {
    width: 10px;
}

#add-contract-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#add-contract-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 468px;
    height: 400px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#add-contract-modal form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#add-contract-modal form .form-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-contract-modal form .form-content > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#add-contract-modal form .inputs {
    margin-top: 4px;
}

#add-contract-modal form .inputs > * {
    margin: 14px 30px;
}

#add-contract-modal form .form-content input {
    color: var(--text-color);
}

#add-contract-modal .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-contract-modal .arrow-container button {
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 15px;
    /* height: 10px; */
}

#add-contract-modal .arrow-container svg {
    color: var(--text-color);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#add-contract-modal .label-containers p {
    margin: 15px;
    margin-left: 0;
    font-size: large;
}

#add-contract-modal .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-contract-modal form > button {
    margin-bottom: 37px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                      ADD EMPLOYE                                              */
/*-----------------------------------------------------------------------------------------------*/

#add-employe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-employe form {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-employe th {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
}

#add-employe table {
    width: 1000px;
}

#add-employe td {
    height: 50px;
    font-size: large;
    font-weight: bold;
}

#add-employe td input {
    width: 50%;
    height: 30px;
    font-size: large;
    border-width: 1px;
    margin-bottom: 10px;
}

#add-employe td select {
    width: 50%;
    height: 30px;
    font-size: large;
    border-width: 1px;
    margin-bottom: 10px;
}

#add-employe .space {
    width: 10px;
    height: 20px;
}

#add-employe .buttons {
    margin-top: 30px;
}

#add-employe .buttons button {
    width: 140px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-color: var(--primary-color);
}

/* .td-with-delete-button:hover {
    background-color: var(--secondary-background-color) !important;
} */

#advisor-planning .delete-button:hover strong {
    color: transparent;
}
#advisor-planning .delete-button:hover {
    font-size: 0;
}

#advisor-planning .delete-button svg {
    color: var(--secondary-background-color);
    display: none;
}

#advisor-planning .delete-button:hover svg {
    display: inline-block;
    width: 30px;
    height: 30px;
}

#advisor-planning .calendar-event button:disabled {
    cursor: default;
}

.calendar-add-event {
    position: relative;
}

.calendar-add-event button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.calendar-add-event button {
    display: none;
}

.calendar-add-event:hover button {
    display: block;
}

#calendar-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#calendar-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 468px;
    height: 400px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#calendar-modal form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#calendar-modal form .form-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#calendar-modal form .form-container > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#calendar-modal form .inputs {
    margin-top: 4px;
}

#calendar-modal form .inputs > * {
    margin: 14px 30px;
}

#calendar-modal form .form-container input {
    color: var(--text-color);
}

#calendar-modal .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calendar-modal .arrow-container button {
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 15px;
    /* height: 10px; */
}

#calendar-modal .arrow-container svg {
    color: var(--text-color);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#calendar-modal .label-containers p {
    margin: 15px;
    margin-left: 0;
    font-size: large;
}

#calendar-modal .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#calendar-modal form > button {
    margin-bottom: 37px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}

#new-event-start-time {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: var(--text-color);
    font-weight: normal;
    font-size: medium;

    align-self: flex-start;

    border: none !important;

    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                      Account-contract-CLIENT                                          */
/*-----------------------------------------------------------------------------------------------*/
.account-list-form {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
}

.account-list-form #div-container {
    display: grid;

    height: 30%;
    width: 70%;
    row-gap: 1%;
    column-gap: 1%;
}
.p {
    height: 2%;
}

#div-container .account-div {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: var(--secondary-background-color);
}
#div-container .information-div {
    padding: 7% 7% 7% 7%;
    text-align: center;
    width: 100%;
    border-radius:10px;
    background-color: var(--secondary-background-color);
}

.input {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    border-style: none;
    background-color: #e8d2d2;
    padding: 6px 1% 8px 2%;
    box-sizing: border-box;
    width: 45%;
    margin-left: 5px;
}
.input[type="number"] {
    margin-top: 10%;
}

.button {
    background-color: #e8d2d2;
    width: 45%;
    padding: 6px 1% 5px 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-bottom: 5px;
}

.label {
    display: flex;
    float: left;
    background-color: var(--primary-color);
    color: #120909;
    padding: 5px 1% 5px 2%;
    box-sizing: border-box;
    width: 45%;
    margin-left:5px; 
    margin-top:2px;
}
.radio {
    display: initial;
    margin-bottom: 5px;
    width: 4%;
}

/*-----------------*/
.contract-div{
    height:100%;
}
.contract-list-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    row-gap: 1%;
    column-gap: 1%;
}
.contract-list-form > div {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: var(--secondary-background-color);
}
.contract-list-form > div > div > div > button {
    background-color: #e8d2d2;
    width: 45%;
    padding: 6px 1% 5px 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin-left: 28%;
    margin-bottom: 5px;
}

/***********************/
.contract-details-page {
    justify-content: space-between;
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.contract-details-page > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.contract-details-page > div > p {
    height: 2%;
}

.contract-details-page > div > p > select {
    color: var(--text-color);
    border-style: none;
    background-color: #e8d2d2;
    padding: 6px 1% 8px 2%;
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 5px;
}

.contract-details-page > div > p > input {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    border-style: none;
    background-color: #e8d2d2;
    padding: 6px 1% 8px 2%;
    box-sizing: border-box;
    width: 45%;
    margin-left: 2px;
}

.contract-details-page > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contract-details-page > div > p > label {
    display: flex;
    float: left;
    background-color: var(--primary-color);
    color: #120909;
    padding: 5px 1% 5px 2%;
    box-sizing: border-box;
    width: 45%;
    margin-left: 5px;
}

/*********************/
.new-contract-page {
    justify-content: space-between;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.new-contract-page > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#div-container .account-div{
    border:2px solid var(--primary-color);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:50%;
    background-color: var(--secondary-background-color);
    

}
#div-container .information-div{
    padding:7% 7% 7%  7%;
    text-align:center;
    width:100%;
    height:80%;
    background-color: var(--secondary-background-color);
    border-radius:10px;
}

#delete-event-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#delete-event-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 630px;
    height: 195px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#delete-event-modal form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#delete-event-modal button {
    margin: 15px;
    padding: 5px 10px;

    width: 100px;
    height: 40px;

    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}

/* ----------------------------------------------------------------------------------------------- */
/*                                      MANAGE EMPLOYEES                                           */
/* ----------------------------------------------------------------------------------------------- */

#manage-employees {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;
    padding-bottom: 15px;
}

#manage-employees form {
    flex: 1;
    overflow-y: auto;
    width: 100%;

    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

#manage-employees table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--secondary-background-color);
}

#manage-employees th,
#manage-employees td {
    border: 1px solid #ddd;
    padding: 8px;
}

#manage-employees th {
    background-color: var(--primary-color);
    color: white;
}

#manage-employees td > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#manage-employees th {
    width: 31%;
}

#manage-employees th:first-child {
    width: 27px !important;
}

#manage-employees th:last-child {
    width: 18px !important;
}

#manage-employees td:last-child {
    padding: 0;
    text-align: center;
}

#manage-employees > input[type="text"] {
    align-self: flex-start;
    margin: 10px;

    width: 20%;
    height: 30px;
    font-size: large;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
}

/* ----------------------------------------------------------------------------------------------- */
/*                                      EMPLOYEE OVERVIEW                                          */
/* ----------------------------------------------------------------------------------------------- */

#employee-overview .login-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "login-infos login-infos";
}

#employee-overview .general-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "general-infos general-infos";
}

/*-----------------------------------------------------------------------------------------------*/
/*                                      MANAGE DOCUMENTS                                         */
/*-----------------------------------------------------------------------------------------------*/

#allDocuments {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#allDocuments .showDocuments {
    background-color: var(--background-color);
    width: 100%;
}

#allDocuments th {
    width: 1000px;
    background-color: var(--primary-color);
    color: white;
}

#allDocuments th:first-child {
    width: 300px;
}

#allDocuments table {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#allDocuments table td input {
    border: none;
    width: 95%;
    font-size: medium;
    background-color: var(--secondary-background-color);
}

#allDocuments form {
    width: 100%;
}

#allDocuments .account {
    margin-top: 20px;
}

#allDocuments .edit-documents-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}

#allDocuments .edit-documents-list button {
    width: 140px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-color: var(--primary-color);
}

#allDocuments .edit-documents-list input {
    height: 40px;
    font-size: large;
}

#allDocuments .space {
    width: 10px;
}

#allDocuments .add-delete {
    display: flex;
    flex-direction: row;
}

#allDocuments .edit-list-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#allDocuments .document button {
    border: none;
    color: var(--primary-color);
}

#add-doc-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#add-doc-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 468px;
    height: 400px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#add-doc-modal form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#add-doc-modal form .form-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-doc-modal form .form-content > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#add-doc-modal form .inputs {
    margin-top: 4px;
}

#add-doc-modal form .inputs > * {
    margin: 14px 30px;
}

#add-doc-modal form .form-content input {
    color: var(--text-color);
}

#add-doc-modal .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-doc-modal .arrow-container button {
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 15px;
    /* height: 10px; */
}

#add-doc-modal .arrow-container svg {
    color: var(--text-color);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#add-doc-modal .label-containers p {
    margin: 15px;
    margin-left: 0;
    font-size: large;
}

#add-doc-modal .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-doc-modal form > button {
    margin-bottom: 37px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}

/* ----------------------------------------------------------------------------------------------- */

/*                                      ADVISOR DOCUMENTS                                          */
/* ----------------------------------------------------------------------------------------------- */

#allDocuments #list-name {
    opacity: 0;
}

#allDocuments .advisor-documents th {
    width: 400px;
    height: 50px;
}

#allDocuments .advisor-documents td {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 15px;

    font-size: large;

    width: 100%;
}

#allDocuments .advisor-documents td input[type="checkbox"] {
    height: 20px;
    width: 30px;
    margin-left: auto;
}

#allDocuments .advisor-documents {
    margin-right: auto;
}

/* ----------------------------------------------------------------------------------------------- */
/*                                      ADVISOR ACCOUNTS                                           */
/* ----------------------------------------------------------------------------------------------- */

#allAccounts .advisor-accounts {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#allAccounts .advisor-accounts .buttons {
    display: flex;
    flex-direction: row;
}

#allAccounts .advisor-accounts table {
    width: 100%;
    display: flex;
    background-color: var(--secondary-background-color);
}

#allAccounts .advisor-accounts td {
    display: flex;
    flex-direction: row;
    font-size: large;
    height: 30px;
}

#allAccounts .advisor-accounts td .date {
    display: flex;
    flex-direction: row;

    margin-left: 30px;
}

#allAccounts .advisor-accounts td .overdraft {
    display: flex;
    flex-direction: row;
}

#allAccounts .advisor-accounts td input[type="text"] {
    width: 160px;
    border: none;
    background-color: var(--secondary-background-color);
    font-size: large;
}

#allAccounts .advisor-accounts td input[name="overdraft-title"] {
    width: 300px;
}

#allAccounts .advisor-accounts td input[name="input-overdraft"] {
    width: 100px;
}

#allAccounts .advisor-accounts td input[type="text"]:focus {
    outline: none;
}

#allAccounts .advisor-accounts td input[type="text"]:first-child {
    width: 100px;
}

#allAccounts .advisor-accounts button {
    border: none;
}

#allAccounts .advisor-accounts form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-overdraft-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#edit-overdraft-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 468px;
    height: 400px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#edit-overdraft-modal form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#edit-overdraft-modal form .form-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#edit-overdraft-modal form .form-content > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#edit-overdraft-modal form .inputs {
    margin-top: 4px;
}

#edit-overdraft-modal form .inputs > * {
    margin: 14px 30px;
}

#edit-overdraft-modal form .form-content input {
    color: var(--text-color);
}

#edit-overdraft-modal .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit-overdraft-modal .arrow-container button {
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 15px;
    /* height: 10px; */
}

#edit-overdraft-modal .arrow-container svg {
    color: var(--text-color);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#edit-overdraft-modal .label-containers p {
    margin: 15px;
    margin-left: 0;
    font-size: large;
}

#edit-overdraft-modal .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#edit-overdraft-modal form > button {
    margin-bottom: 37px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}

#allAccounts .advisor-accounts form button {
    width: 140px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-color: var(--primary-color);
    margin-top: 20px;
}

#allAccounts .advisor-accounts form td button {
    height: 30px;
    margin-top: 0px;
}

#delete-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#delete-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 468px;
    height: 400px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#delete-modal .form-content .label-containers {
    width: 200px;
}

#delete-modal .form-content select {
    width: 100px;
}

#delete-modal form .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#delete-modal form .form-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#delete-modal form .form-content > div > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#delete-modal form .inputs {
    margin-top: 4px;
}

#delete-modal form .inputs > * {
    margin: 14px 30px;
}

#delete-modal form .form-content input {
    color: var(--text-color);
}

#delete-modal .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#delete-modal .arrow-container button {
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 15px;
    /* height: 10px; */
}

#delete-modal .arrow-container svg {
    color: var(--text-color);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#delete-modal .label-containers p {
    margin: 15px;
    margin-left: 0;
    font-size: large;
}

#delete-modal .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#delete-modal form > button {
    margin-bottom: 37px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}

#reserve-time-modal {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;

    pointer-events: none;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);

    align-items: center;
    justify-content: center;
}

#reserve-time-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 468px;
    height: 400px;

    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#reserve-time-modal form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#reserve-time-modal form .form-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#reserve-time-modal form .form-container > div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#reserve-time-modal form .inputs {
    margin-top: 4px;
}

#reserve-time-modal form .inputs > * {
    margin: 14px 30px;
}

#reserve-time-modal form .form-container input {
    color: var(--text-color);
}

#reserve-time-modal .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reserve-time-modal .arrow-container button {
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 15px;
    /* height: 10px; */
}

#reserve-time-modal .arrow-container svg {
    color: var(--text-color);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#reserve-time-modal .label-containers p {
    margin: 15px;
    margin-left: 0;
    font-size: large;
}

#reserve-time-modal .horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#reserve-time-modal form > button {
    margin-bottom: 37px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    font-size: larger;
}

.reserved-slot {
    background-color: #646464 !important;
}
