/*  Variables */
:root {
    --text-color: #120909;
    --background-color: #fbf7f7;
    --secondary-background-color: #f3efef;
    --primary-color: #b36064;
    --secondary-color: #d4c0a5;
    --accent-color: #f64343;
}

/* Global Layout */

body {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;

    min-width: 100dvw;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

nav {
    flex: 1;
    min-width: 200px;
    background-color: lightblue;
}

body > div {
    flex: 4;

    display: flex;
    flex-direction: column;
}

header {
    flex: 1;

    min-height: 30px;
    max-height: 46px;
    padding: 5px 15px;

    background-color: orange;
}
    

   

main {
    flex: 15;

    display: flex;

    padding: 15px;

    background-color: lightpink;
}

/* login page */

#loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    min-height: 80dvh;
}

#loginForm {
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    height: 400px;
}

#loginForm h2 {
    position: relative;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

#loginForm fieldset {
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#loginForm fieldset .inputBox input{
    width: 80%;
    height: 30px;
    font-size: large;

    
}

#loginForm fieldset .inputBox {
    position: relative;
    display: flex;
    justify-content: center;
}


.inputBox i {
    position: absolute;
    right: 35px;
    top: 30%;
    color: var(--accent-color);
}

.center {
    display: flex;
    justify-content: center;
}

input[type="submit"]{
    height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--accent-color);
    width: 50%;
    color: white;
    border-color: var(--accent-color);
}

#loginForm label {
    font-size: large;
    font-weight: bold;
    margin-left: 28px;
}


.logo{
    margin-top: 40px;
    margin-left: 500px;
    width: 100%;
}
img {
    height: 60px;
    width: 60px;
}